@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Cormorant+Upright&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing Script&family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background: rgba(0, 0, 0, 0.955);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: rgb(116, 204, 245);
    border: solid rgb(44, 44, 44) 1px;
    padding: 20px;
    border-radius: 15px;
}

.screen {
    width: 224px;
    background-color: rgba(244, 245, 247, 0.938);
    border: solid rgb(44, 44, 44) 1px;
    font-size: 25px;
    text-align: end;
    padding: 4px;
    color:black;
}

.buttons {
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(44, 44, 44);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 4px;
}

button:hover {
    background-color: rgb(111, 110, 110);
}

button:active {
    background-color: rgb(192, 190, 190);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#equals {
    background-color: rgb(252, 20, 27);
}

#equals:hover {
    background-color: rgba(198, 1, 1, 0.953);
}

#clear {
    width: 100%;
    background-color: #fcf9f9;
    font-size: 25px;
    color: black;
}

#clear:hover {
    background-color: rgb(34, 20, 235);
    /* color: rgb(253, 252, 252); */
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:-450px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 40px;
    position: absolute;

}